// FEATURED SECTION
.container
  section#featured-section
    h3.plusBoxZero.mdl-color-text--white
      | Featured Content
    .mdl-grid
      .cards
        .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
          .mdl-card__media
            img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
          .mdl-card__supporting-text
            | Auckland Sky Tower, taken March 24th, 2014
          .mdl-card__supporting-text
            | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres 41,076 ft)
            | tall, making it the tallest man-made structure in the Southern Hemisphere.
        .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
          .mdl-card__media
            img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
          .mdl-card__supporting-text
            | Auckland Sky Tower, taken March 24th, 2014
          .mdl-card__supporting-text
            | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres (1,076 ft)
            | tall, making it the tallest man-made structure in the Southern Hemisphere.
        .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
          .mdl-card__media
            img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
          .mdl-card__supporting-text
            | Auckland Sky Tower, taken March 24th, 2014
          .mdl-card__supporting-text
            | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres (1,076 ft)
            | tall, making it the tallest man-made structure in the Southern Hemisphere.
        .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
          .mdl-card__media
            img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
          .mdl-card__supporting-text
            | Auckland Sky Tower, taken March 24th, 2014
          .mdl-card__supporting-text
            | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres (1,076 ft)
            | tall, making it the tallest man-made structure in the Southern Hemisphere.
// END OF FEATURED SECTION