// Main Content Section
main.mdl-layout__content
  .page-content
    .container
      .hero
        .mdl-grid
          .bannerText.mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
            h1
              | Hello Internet!
              p If you feel it, its real enough!