// MUSIC-SECTION
.container( ng-controller="soundCtrl" )
  section#music-section
    h3.plusBoxZero
      | Music
    
    audio#audio(controls autoplay)
      source(src='https://api.soundcloud.com/tracks/155268301/stream?client_id=fd5c20bcd247de1b14c0b7f02523e91d', type='audio/mp3')
    button#button Play

// END OF MUSIC SECTION