// MUSIC-SECTION
.container( ng-controller="soundCtrl" )
  section#music-section
    h3.plusBoxZero.mdl-color-text--black
      | Recent Music
    .tweetUserImage
      img(data-src='holder.js/300x300', alt='')
    .mdl-grid
      .mdl-card__supporting-text.mdl-cell.mdl-cell--4-col
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quisquam, accusantium nihil! Reprehenderit ea officia nam,
        | rem molestias nops.
// END OF MUSIC SECTION