// TWEET SECTION
.container
  section(ng-controller="twitterCtrl")#tweet-section.mdl-color-text--black.mdl-grid.mdl-grid--no-spacing
    h3.plusBoxZero
      | Tweets
    #tweets(ng-repeat='tweet in userTweets')
      twitter-post(posts='tweet')
        
// END OF TWEET SECTION