// HELPERS

div.container {
    padding: 0;
    margin:0;
    width:100%;

}

// removes 'MDL' default margins on headings
*.plusBoxZero {
    margin: 0 ;
    padding: 0 ;
}

.menuDrawer {
    background-color: black ;
    font-size: 1.2em;
    font-weight: 600;

    }
    


div.hero {
    height: 60vh;
    width: 100%;
    margin-top: 0 ; 
    border-radius: 0px 0px 5px 5px;
    background-image:   url('../images/RedeeConcertPerformance.jpg');

    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 20px 8px black;

        .bannerText {
        margin-top: 0;
        color: white;

        font-family: sans-serif;
        text-shadow: 2px 6px 10px;
        
        }
    }




section#featured-section {
    width: 100%; 
    height: 38%;
    background-image:url('../images/yunglean.jpg');
    background-color: navajowhite ;
    background-size:cover;
    background-attachment: fixed;
    box-shadow: inset 30px 30px 130px 30px black;


    .mdl-card {
        float: left;
    }
    
    
}

section#music-section {
    clear: both;
    width: 100%;
    height: 38%;
    background-color: black;
    box-shadow: 0px 0px 50px 25px white;
    box-shadow: inset 0px 0px 200px 30px white;

   
    

}


    