include partials/layout.pug


//- doctype html
//- html(lang='en', ng-app='Nichi')

//-   head
//-     meta(charset='UTF-8')
//-     title= title
//-     script(src='\
//-     https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js')
//-     link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
//-     link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.red-blue.min.css')
//-     script(defer='', src='https://code.getmdl.io/1.2.1/material.min.js')
//-     script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
//-     script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js")
//-     script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js")
//-     link(rel='stylesheet', type='', href='./css/styles.css')

//-   body
//-     .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
//-       // HEADER
//-       header.mdl-layout__header
//-         .mdl-layout__header-row
//-           span.mdl-layout-title Nichi.RED
//-           // Add spacer, to align navigation to the right
//-           .mdl-layout-spacer
//-           // Navigation. Hidden in small screens.
//-           nav.mdl-navigation.mdl-layout--large-screen-only
//-             a.mdl-navigation__link(href='#featured-section') Featured
//-             a.mdl-navigation__link(href='#music-section') Music
//-             a.mdl-navigation__link(href='#tweet-section') Blog
//-             a.mdl-navigation__link(href='')
//-       // Slide-Out App Drawer
//-       .mdl-layout__drawer.menuDrawer
//-         span.mdl-layout-title Menu!!
//-         nav.mdl-navigation
//-           a.mdl-navigation__link(href='') Featured
//-           a.mdl-navigation__link(href='') Music
//-           a.mdl-navigation__link(href='') Blog
//-           a.mdl-navigation__link(href='')
//-       // Main Content Section
//-       main.mdl-layout__content
//-         .page-content
//-           .container
//-             .hero
//-               .mdl-grid
//-                 .bannerText.mdl-cell.mdl-cell--5-col.mdl-cell--3-col-tablet.mdl-cell--2-col-phone
//-                   h1
//-                     | Hello Internet!
//-                     p If you feel it, its real enough!
//-           // FEATURED SECTION
//-           .container
//-             section#featured-section
//-               h3.plusBoxZero.mdl-color-text--white
//-                 | Featured Content
//-               .mdl-grid
//-                 .cards
//-                   .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
//-                     .mdl-card__media
//-                       img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
//-                     .mdl-card__supporting-text
//-                       | Auckland Sky Tower, taken March 24th, 2014
//-                     .mdl-card__supporting-text
//-                       | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres 41,076 ft)
//-                       | tall, making it the tallest man-made structure in the Southern Hemisphere.
//-                   .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
//-                     .mdl-card__media
//-                       img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
//-                     .mdl-card__supporting-text
//-                       | Auckland Sky Tower, taken March 24th, 2014
//-                     .mdl-card__supporting-text
//-                       | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres (1,076 ft)
//-                       | tall, making it the tallest man-made structure in the Southern Hemisphere.
//-                   .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
//-                     .mdl-card__media
//-                       img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
//-                     .mdl-card__supporting-text
//-                       | Auckland Sky Tower, taken March 24th, 2014
//-                     .mdl-card__supporting-text
//-                       | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres (1,076 ft)
//-                       | tall, making it the tallest man-made structure in the Southern Hemisphere.
//-                   .mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--4-col.tablet.mdl-cell--4-col-phone
//-                     .mdl-card__media
//-                       img(src='holder.js/300x157?random=yes', width='300', height='157', border='0', alt='')
//-                     .mdl-card__supporting-text
//-                       | Auckland Sky Tower, taken March 24th, 2014
//-                     .mdl-card__supporting-text
//-                       | The Sky Tower is an observation and telecommunications tower located in Auckland, New Zealand. It is 328 metres (1,076 ft)
//-                       | tall, making it the tallest man-made structure in the Southern Hemisphere.
//-         // END OF FEATURED SECTION
//-         // MUSIC-SECTION
//-         .container
//-           section#music-section
//-             h3.plusBoxZero.mdl-color-text--black
//-               | Recent Music
//-             .tweetUserImage
//-               img(data-src='holder.js/30x120', alt='')
//-             .mdl-grid
//-               .mdl-card__supporting-text.mdl-cell.mdl-cell--4-col
//-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quisquam, accusantium nihil! Reprehenderit ea officia nam,
//-                 | rem molestias.
//-         // END OF MUSIC SECTION
//-         // TWEET SECTION
//-         .container
//-           section(ng-controller="twitterCtrl")#tweet-section.mdl-color-text--black.mdl-grid.mdl-grid--no-spacing
//-             h3.plusBoxZero
//-               | Tweets
//-             #tweets(ng-repeat='tweet in userTweets')
//-               twitterPost(twitter='tweet')
//-         // END OF TWEET SECTION
//-     // END OF MAIN CONTENT SECTION
//-     // FOOTER DIV
//-     // END OF FOOTER
//-   //Modules
//-   script(src="scripts/nichiApp.js")
//-   //Controllers

//-   //Directives
//-   script(src="scripts/directives/twitterDirect.js")
