&#featured-section
    width: 100%
    height: 38%
    background-image: url("../images/yunglean.jpg")
    background-color: navajowhite
    background-size: cover
    background-attachment: fixed
    border-bottom: 3px ridge lavenderblush
    box-shadow: inset 30px 30px 130px 30px black
    .mdl-card
      float: left