//Navigation & elements within...

header
  display: flex
  .mdl-layout-title
    font-size: 1.8em
    margin: 0 50% 0 (50% - percentage(52/1501)) 


  .mdl-layout__header $base-prime
    background:
      color: transparent

  .mdl-layout__header-row
    &:nth-child(1n)
      padding: 0 
  

  .mdl-layout__tab-bar
    background-color: transparent 
    .mdl-layout__tab
      width: percentage(1/3)
      display: flex
      align-items: center
      justify-content: space-around


//Menu Drawer
.menuDrawer
  background-color: $accent-prime
  font-size: 1.2em
  font-weight: 600
  border-right: 3px $base-prime groove
  
  .mdl-layout-title
    border-bottom: 3px $action-wait groove
    color: $base-prime
  
  .mdl-navigation 
    .mdl-navigation__link
      border: 1px $action-wait solid
      border-radius: 10px
      margin: 0 5% 10px 5% 
      color: lighten($action-wait, 20%)




//Actual Hero ***
div.hero 
  height: 100vh
  width: 100%
  margin-top: 0
  background-image: url("../images/RedeeConcertPerformance.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-bottom: 3px ridge lightslategrey
  box-shadow: 0px 20px 8px black
  display: flex
  align-items: center
  .bannerText
    flex: 1 2 auto
    color: white
    font-family: sans-serif
    text-shadow: 2px 6px 10px
